# npm
node_modules

# build
main.js
*.js.map

# obsidian
data.json

# Exclude sourcemaps
*.map

# macOS
.DS_Store

# IDE
.idea
.vscode
*.swp
*.swo
*~


#Ignore vscode AI rules
.github/instructions/codacy.instructions.md
